body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

p {
  color: #b3b3b3;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }


.banner-c{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}

.home-banner{
 width: 100%;
 
}

.section-1-b{
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  margin-bottom: 3%;
  padding-bottom: 5%;
  
  background: #E0E0E0;
}

.section-2-b{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: left;
}

.title-1-b{
  color: #1B3517;
  text-align: center;
  font-family: Montserrat;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title-2-b{
  width: 304px; 
  height: 206px;
  color: #1E1E1E;
font-family: Montserrat;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.title-3-b{
  color: #1B3517;
  font-family: Montserrat;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 5%;
  margin-bottom: 5%;
}

.subtitle-b{
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.row-1-d{
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;
  flex-direction: row;
}

@media (max-width: 768px) {
  .row-1-d{
    display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  }
  
}

.row-2-d{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

@media (max-width: 768px) {
  .row-2-d{
    display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  }

}

.text-1-b{
  width: 304px; 
  height: 206px;
  color: #1E1E1E;
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 2%;
}

.cards-1-b{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  
}

.card-1-b{
  width: 206px;
  height: 211px;
  background-color: rgba(228, 228, 228, 1);
  border-radius: 30px 30px 0px 0px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-2-b{
  width: 287.26px;
  height: 151.187px;
  flex-shrink: 0;
  border-radius: 20px;  
  border: 1px solid #000;
  background: #E0E0E0;
  color: #1E1E1E;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 5%;
  text-align: center;
  }

.car-1-image{
  width: 146.925px;
  height: 146.925px;
}

.title-3-b{
  color: #1B3517;
  font-family: Montserrat;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section-3-b{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8%;
  margin-bottom: 8%;
}

.cards-3-b{
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}

@media (max-width: 768px) {
  .cards-3-b{
    display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  }
}

@media (max-width: 768px) {
  .svg-container {
    display: none; /* Hide the element */
  }
}

.card-3-b{
    width: 478px;
    height: 334px;
    flex-shrink: 0;
    background: #D9D9D9;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
  .card-3-b{
    width: 478px;
    height: 334px;
    flex-shrink: 0;
    background: #D9D9D9;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3%;
  }
  
}

.text-3-b{
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subtitle-3-b{
  color: #000;
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section-4-b{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;

}


.card-4-b{
  width: 1073px;
  height: 322px;
  border-radius: 30px;
  background: #1B3517;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 15%;
  padding-right: 15%;

}

.title-4-b{
  color: #D9D9D9;
  text-align: center;
  font-family: Montserrat;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-4-b{
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

























  

@media (max-width: 450px) {
  .fctolist{
    margin-top: 10%;
    margin-bottom: 10%;
    
  }
  
}

@media (max-width: 450px) {
  .header-adj{
    margin-top: 10%;
    margin-bottom: 10%;
    
  }
  
}
.card-1 {
  width: 100%;
  height: auto;
}

.front{
  display: grid;
  text-align: center;
  align-items: center;
}

.content-1 {
  text-align: center;
  position: relative;
  transition: all 2.25s;
  background-color: #263F22;
  padding: 5em;
  transform-style: preserve-3d;
  /* height: 450px; */
  color: white;
}

.content-2 {
  text-align: center;
  position: relative;
  transition: all 2.25s;
  background-color: white;
  padding: 5em;
  transform-style: preserve-3d;
  /* height: 450px; */
  color: #263F22;
}

.card:hover .content-1 {
  transform: rotateY(0.5turn);
}

.card:hover .content-2 {
  transform: rotateY(0.5turn);
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2em;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.dev-card{
  margin-top: 53px;
  width: 100%;
  height: 50px;
  background-color: #a2aba5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
  font-size: larger;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  
}

.dev-card:hover{
  background-color: white;
  color: #6c757d;
}

.button-1{
  width: 180px;
  height: 60px;
  background-color: white;
  color: black;
  font-size: 15px;
  border-radius: 5px;
}

.button-1:hover{
  background-color: black;
  color: white;
}

.front,
.back-1 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2em;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
/* ... previous styles ... */

.container121{
display: grid;
grid-template-columns: 1fr 1fr;
margin-top: 2.5%;
height: 80%;
margin-bottom: 4%;
}

@media screen and (max-width: 768px) {
/* Adjust the number of columns for mobile view */
.container121{
  grid-template-columns: 1fr;
}

/* Adjust card width for mobile view */
.card {
  width: 100%;
  height: auto;
}
}

.title {
  transform: translateZ(5rem);
  font-size: 4rem;
}

.subtitle {
  transform: translateZ(2rem);
}

.back{
  transform: rotateY(0.5turn);
  background-color: black;
}

.back-1{
  transform: rotateY(0.5turn);
  background-color: white;
  color: black;
}


.description {
  transform: translateZ(3rem);
}


/*end of styles*/

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.content {
  padding: 7rem 0; }

h2 {
  font-size: 20px; }

.bg-left-half {
  position: relative; }
  .bg-left-half:before {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: -1;
    content: "";
    left: 0;
    top: 0;
    background-color: #f8f9fa; }

.media-29101 img {
  margin-bottom: 20px; }

.media-29101 h3 {
  font-size: 18px;
  font-weight: 900 !important; }
  .media-29101 h3 a {
    color: #6c757d; }

.owl-2-style .owl-nav {
  display: none; }

.owl-2-style .owl-dots {
  text-align: center;
  position: relative;
  bottom: -30px; }
  .owl-2-style .owl-dots .owl-dot {
    display: inline-block; }
    .owl-2-style .owl-dots .owl-dot span {
      display: inline-block;
      width: 15px;
      height: 3px;
      border-radius: 0px;
      background: #cccccc;
      -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
      -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
      transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
      margin: 3px; }
    .owl-2-style .owl-dots .owl-dot.active span {
      background: #007bff; }
    .owl-2-style .owl-dots .owl-dot:active, .owl-2-style .owl-dots .owl-dot:focus {
      outline: none; }

      